{% extends "base.html" %}
{% block mainbody %}
<form id="case_form" class="layui-form" action="" method="post" onchange="Show_select()" >
    <div class="layui-form-item" style="margin-top: 5px">
        <label class="layui-form-label">用例名称</label>
        <div class="layui-input-inline" style="width: 500px">
            <input id="case_name" type="text" name="case_name"  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
        <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属模块</label>
            <div class="layui-input-inline">
                <select id="module" name="module" lay-search layui-filter="module_select">
                    <option value="" >请选择</option>
                    <option value="基础信息">基础信息</option>
                    <option value="酒店">酒店</option>
                    <option value="机票">机票</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="sub_module" lay-search>
                    <option value="">请选择</option>
                    <option value="国家地区及城市">国家地区及城市</option>
                    <option value="供应商">供应商</option>
                    <option value="机场信息">机场信息</option>
                    <option value="航司信息">航司信息</option>
                    <option value="航班信息">航班信息</option>
                    <option value="航线班期">航线班期</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用例等级</label>
        <div class="layui-input-inline">
                <select name="level" lay-search>
                    <option value="">请选择</option>
                    <option value="0">0:接口访问测试</option>
                    <option value="1">1:接口基础测试（,边界分析，参数组合,异常情况）</option>
                    <option value="2">2:业务功能测试</option>
                    <option value="3">3: 性能测试</option>
                    <option value="4">4:安全测试</option>

                </select>
            </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">接口</label>
        <div class="layui-input-inline" style="width: 500px">
            <input type="text" name="api_id"  autocomplete="off" class="layui-input" readonly="readonly">
        </div>
        <button id="api_choice" class=" layui-btn layui-btn-small layui-btn-disabled" style="margin-top: 3px" disabled="disabled">选择</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">uri参数</label>
        <div class="layui-input-inline" style="width: 500px">
            <input type="text" name="uri_params_value"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">传参</label>
        <div class="layui-input-inline" style="width: 500px">
            <input type="text" name="req_params_value"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label" >请求体</label>
        <div class="layui-input-block">
            <textarea name="req_body_value"  placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">预期结果</label>
        <div class="layui-input-block">
            <textarea name="expected_result" lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
</form>
<script>
    function Show_select(){$("input[@name=level]").attr("value",'2');}
</script>

{% endblock %}